run = "bash run.sh"
entrypoint = "run.sh"

[env]
PYTHONUNBUFFERED = "1"

[nix]
channel = "stable-24_05"

[deployment]
run = ["bash", "run.sh"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8080
externalPort = 80
